@media screen and (max-width: 1439px) {
  .container {
    width: 930px;
  }

  .history {
    &__wrapper {
      gap: 80px;
    }
  }

  .advantages {
    &__item {
      width: 300px;
    }
  }

  .dishes {
    &__container {
      width: 930px;
    }

    &__img {
      width: 400px;
      height: 425px;

      &_small {
        width: 140px;
        height: 120px;
      }
    }

    &__name {
      width: 55%;
    }

    &__price {
      width: 20%;
    }
  }

  .horizontal-dotted-line {
    width: 20%;
  }

  .our-menu {
    &__item {
      width: 280px;
      padding: 80px 40px;
    }

    &__img {
      width: 200px;
      height: 200px;
    }

    &__price {
      left: 150px;
    }
  }

}

@media screen and (max-width: 991px) {
  .container {
    width: 720px;
  }

  .nav-menu {
    display: none;
  }

  .header {
    &__contacts {
      display: none;
    }
  }

  .hamburger {
    display: flex;
  }

  .logo {
    width: 80px;
    height: 50px;
  }

  .promo {
    padding-top: 30px;

    &__content {
      margin-top: 150px;
    }
  }

  .history {
    padding-top: 830px;

    &__wrapper {
      gap: 50px;
    }

    &__img {
      width: 350px;
      height: 320px;
    }
  }

  .advantages {
    &__list {
      top: -920px;
      flex-direction: column;
      justify-content: start;
      gap: 30px;
    }

    &__item {
      padding: 24px 16px;
      min-height: unset;
      width: 100%;
    }
  }

  .reserve {
    &__info {
      width: 560px;
    }
  }

  .dishes {
    padding-top: 80px;
    padding-bottom: 126px;

    &__container {
      width: 720px;
    }

    &__wrapper {
      margin-top: 68px;
      flex-direction: column;
      align-items: center;
    }

    &__img {
      width: 100%;
      height: 478px;

      &_small {
        width: 120px;
        height: 120px;
      }
    }

    &__name {
      width: 35%;
    }
  }

  .our-menu {
    padding-bottom: 106px;
    min-height: unset;

    &__list {
      margin-top: 100px;
      grid-template-columns: repeat(2, 1fr);
      justify-content: normal;
      gap: 20px;
    }

    &__item {
      width: 100%;
    }

    &__price {
      left: 192px;
    }
  }

  .horizontal-dotted-line {
    width: 40%;
  }

  .reviews {
    padding: 80px 0;
  }

  .gallery {
    padding: 70px 0 35px 0;
    &__list {
      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
      gap: 20px;
    }

    &__item {
      &:first-child,
      &:last-child {
        grid-column: unset;
      }
    }
  }

  .footer {
    &__wrapper {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }

  .map {
    &__wrapper {
      order: 3;
    }
  }

}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 25px;
  }

  .logo {
    width: 60px;
    height: 38px;
  }

  .promo {
    &__content {
      margin-top: 250px;
    }

    &__title {
      span:first-of-type {
        width: 280px;
        font-size: 30px;
        line-height: 34px;
      }

      span:nth-child(2) {
        width: 280px;
        font-size: 40px;
        line-height: 46px;
        text-align: center;
      }

      h1 {
        width: 280px;

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          width: 30px;
          height: 1px;
          background-color: #fff;
        }

        &::before {
          left: 0;
          transform: translate(10px, -50%);
        }

        &::after {
          transform: translate(10px, -50%);
        }
      }
    }

    &__btn {
      margin-top: 45px;
    }
  }

  .history {
    padding-bottom: 50px;
    min-height: unset;

    &__wrapper {
      flex-direction: column;
    }
  }

  .title {
    font-size: 40px;
    line-height: 1;
  }

  .statistics {
    &__list {
      margin-top: 120px;
      flex-direction: column;
    }
  }

  .advantages {
    &__list {
      left: 0;
      padding: 0 25px;
      gap: 15px;
    }
  }

  .reserve {
    padding: 20px 0 30px 0;
    min-height: unset;

    &__wrapper {
      flex-direction: column;
      gap: 40px;
    }

    &__info {
      width: 100%;
    }

    &__title {
      text-align: center;
    }

    &__text {
      font-size: 30px;
      line-height: 34px;
      text-align: center;
    }
  }

  .dishes {
    padding-top: 62px;

    &__container {
      width: 100%;
      padding: 0 25px;
    }

    &__img {
      &_small {
        width: 130px;
        height: 113px;
      }
    }

    &__item {
      gap: 8px;
    }

    &__info {
      flex-direction: column;
      gap: 4px;
    }

    &__name,
    &__price {
      width: 100%;
      text-align: center;
      font-size: 22px;
      line-height: 25px;
    }
  }

  .horizontal-dotted-line {
    display: none;
  }

  .our-menu {
    padding-top: 62px;

    &__list {
      justify-content: center;
      grid-template-columns: 290px;
    }

    &__item {
      padding: 80px 35px;
    }

    &__price {
      left: 170px;
    }
  }

  .reviews {
    padding: 10px 0 25px 0;
  }

  .gallery {
    &__list {
      grid-template-columns: repeat(auto-fit, minmax(290px, auto));
    }
  }

  .chefs {
    padding: 35px 0 20px 0;
    
    &__list {
      margin-top: 80px;
      gap: 18px;
    }

    &__img {
      width: 100%;
      height: 380px;
    }
  }

  .footer {
    min-height: unset;

    .contacts__text {
      text-align: center;
    }
  }

  .map {
    &__wrapper {
      width: 100%;
      height: 400px;
    }
  }
}

@media screen and (max-width: 574px) {
  .container {
    padding: 0 15px;
  }

  .promo {
    padding-top: 25px;
    &__content {
      margin-top: 225px;
      width: 100%;
    }

    &__title {
      span:first-of-type {
        width: 100%;
      }

      span:nth-child(2) {
        width: 100%;
      }

      h1 {
        width: 100%;

        &::before,
        &::after {
          content: "";
          display: none;
        }

        &::before {
          left: 0;
          transform: translate(10px, -50%);
        }

        &::after {
          transform: translate(10px, -50%);
        }
      }
    }

    &__btn {
      margin-top: 45px;
    }
  }

  .title {
    word-spacing: 1000px;
  }

  .history {
    &__img {
      width: 290px;
      height: 256px;
    }
  }

  .advantages {
    &__list {
      padding: 0 15px;
    }

    &__item {
      padding: 34px 14px 20px 14px;
    }

    &__img {
      width: 89px;
      height: 89px;
    }

    &_name {
      margin-top: 0;
    }

    &__text {
      margin-top: 6px;
      font-size: 22px;
      line-height: 26px;
    }
  }
}
