.reserve {
  padding: 80px 0 100px 0;
  min-height: 357px;
  background: url("img/reserve-bg.png") center/cover no-repeat;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    width:675px;
  }

  &__title {
    font-size: 52px;
    font-weight: 400;
    line-height: 60px;
    color:$main-color;
  }

  &__text {
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    color: #fff;
  }
  &__btn {
    padding: 14px 18px;
    width: 157px;
    background-color: #ff7400;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
      color:#ff7400;
      background-color: #fff;
    }
  }
}