* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  font-family: "Tinos", sans-serif;
}

.container {
  position: relative;
  width: 1110px;
  margin: 0 auto;
}

@import "variables";
@import "titles";
@import "promo";
@import "header";
@import "nav-menu";
@import "history";
@import "advantages";
@import "reserve";
@import "dishes";
@import "our-menu";



