* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  font-family: "Tinos", sans-serif;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

@import "_variables";
@import "promo";
@import "header";
@import "menu";

