* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  font-family: "Tinos", sans-serif;
}

.container {
  position: relative;
  width: 1110px;
  margin: 0 auto;
}

.logo {
  display: block;
  width: 100px;
  height: 68px;
  object-fit: cover;
}

@import "variables";
@import "./blocks/titles";
@import "./blocks/buttons";
@import "./blocks/promo";
@import "./blocks/hamburger";
@import "./blocks/header";
@import "./blocks/nav-menu";
@import "./blocks/history";
@import "./blocks/advantages";
@import "./blocks/reserve";
@import "./blocks/dishes";
@import "./blocks/our-menu";
@import "./blocks/gallery";
@import "./blocks/chefs";
@import "media";



