.our-menu {
  padding-top: 100px;
  padding-bottom: 226px;
  min-height: 1036px;
  background: url("img/menu-bg.png") center/cover no-repeat;

  &__title {
    color: #fff;
  }

  &__list {
    margin-top: 138px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    row-gap: 20px;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    padding: 80px 62px;
    width: 350px;
    background-color: #fff;

    &:first-of-type {
      &::before {
        content: "RECOMMENDED";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 12px;
        width: 124px;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        background-color: $main-color;
      }
    }
  }

  &__img {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 225px;
    height: 225px;
    object-fit: cover;
  }

  &__price {
    position: absolute;
    top: 205px;
    left: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-family: Cookie, sans-serif;
    font-size: 30px;
    line-height: 33px;
    border: 7px solid #fff;
    border-radius: 50%;
    text-align: center;
    color:#fff;
    background-color: $main-color;
    z-index: 10;
  }


  &__name {
    margin-top: 22px;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }

  &__text {
    margin-top: 16px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }

  &__btn {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    display: block;
    padding: 14px 18px;
    width: 220px;
    background-color: $main-color;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.4s ease-in-out;
    cursor: pointer;

    &:hover {
      color: $main-color;
      background-color: #000;
    }
  }
}
