.promo {
  padding-top: 50px;
  min-height: 800px;
  background: url("img/promo-bg.png") center/cover no-repeat;

  &__content {
    margin-top: 260px;
    width: 480px;
  }

  &__title {
    color: $main-color;

    span {
      display: block;
    }

    span:first-of-type {
      display: block;
      width: 480px;
      text-align: center;
      font-size: 50px;
      font-weight: 400;
      line-height: 57px;
    }

    span:nth-child(2) {
      display: block;
      width: 556px;
      text-align: left;
      font-size: 80px;
      font-weight: 400;
      line-height: 92px;
    }

    h1 {
      margin-top: 12px;
      position: relative;
      width: 490px;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 25px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 60px;
        height: 1px;
        background-color: #fff;
      }

      &::before {
        left: 0;
        transform: translate(92px, -50%);
      }

      &::after {
        transform: translate(8px, -50%);
      }
    }
  }

  &__btn {
    margin-top: 20px;
  }
}
